Q1: Create a 1D array of numbers from 0 to 9

Q2: Create a 3×3 numpy array of all True’s

Q3: Extract all odd numbers from `arr`, which is a 1D array of numbers from 0 to 9

Q4: Replace all odd numbers in `arr` with -1

Q5: Convert a 1D array (numbers from 0 to 9) to a 2D array with 2 rows

Q6: Stack arrays `a` and `b` vertically, where `a` is a 2D array filled with 1 with shape (2, 5), and `b` is a 2D array filled with 3 with shape (2, 5), set the dtype of both arrays with int16

Q7: Stack the previously defined arrays `a` and `b` horizontally

Q8: Get all items between 5 and 10 from `a`

In [8]:
a = np.array([2, 6, 1, 9, 10, 3, 27])

Q9: Swap columns 1 and 2 in the array `arr`

In [10]:
arr = np.arange(9).reshape(3,3)

Q10: Swap rows 1 and 2 in the array `arr` we just defined

Q11: Reverse the a 1D `arr` of numbers from 0 to 9

Q12: Create a 2D array of shape 5x3 to contain random float numbers between 0 and 20

Q13: compute the sum of all elements in arr that you just created